<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tracks</title>
</head>
<body>
<div>

    <table border="1">
        <tr th:each="item: ${tracks.items}">
            <td th:text="${item.artists.get(0).name}"/>
            <td  th:text="${item.name}">Song's name</td>
            <td th:text="${item.getPopularity()}" />
            </td>
        </tr>
    </table>
</div>
<div>
    <a href="#" th:href="@{/}">Go back</a>
</div>
</body>
</html>